html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 33px;
  font-weight: 300;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 19px;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 40px;
  }
  
  h2 {
    font-size: 38px;
    font-weight: 300;
  }
  
  h3 {
    font-size: 27px;
  }
  
  h4 {
    font-size: 22px;
  }
}

$text-blue: #2E4057;
$green: #15865E;
$green-alt: #168E71;
$grey: #F1EEEE;
