.box {
  width: 215px;
  background-color: white;
  border: 3px solid #EF9A00;
  border-radius: 25px;
  padding: 20px 16px;
  text-align: center;
}

.box-header {
  color: #50A490;
  font-family: Source Sans Pro;
  font-size: 27px;
  margin-bottom: 20px;
}

.box-body {
  font-weight: 300;
}